  <!--   HEADING AND IMAGE SUB-PAGE   START-->
  <div class="span-3" id="main-page">
    
    <img style="width:100%;" id="main-image" src="/intro-ingredients.png" alt=""> 

    <div id="main-caption">
      <p>Do-It-Yourself</p> 
      <p>MYSTERY BOX </p>
    </div>
   
  </div>
 
  <!--   ABOUT SUB-PAGE   START-->

  <div class="span-3" id="about">
    <a name="about-anchor"></a>
    <h1>~About~</h1>

    <h2>Do-It-Yourself Mystery Box</h2>

    <div id="blurbs">

      <div  style="float:left; width:43%;">
        <img style="float:left; width: 15%;" src="/think-lady.png" alt="">
        <div style="float:left; position:relative; width: 70%; display:inline;">
          <p style="color:red; font-size: 20px;">“Oh my Gosh WHY are they doing that like that, I swear I would do it so much better???”</p>
        </div>
      </div>
      <div style="float:left; position:relative; width: 8%; padding: 1%; display:inline">
        <img src="/mysterybox-small.png" alt="">
      </div>
      <div style="float:right;  width:40%;">
        <div style="float:left;  width: 70%;position:relative; display:inline;">
          <p style="color:red;font-size: 20px;">“AS IF you would muck up something that easy, how did they even get ONTO this show?”</p>
        </div>
        <img style="float:left; width: 20%; display:inline;" src="/think-man.png" alt="">
      </div>
    </div>

    <div id="about-text">

      <p>The search is on for MasterChef contestants for 2016.  If you’ve ever leapt up and yelled at the television like above, then I highly recommend applying.
                            --- Julie Goodwin (Masterchef ex-contestant) </p>

      <h2>For those of you keen to give it a crack, take the Masterchef challenge from the convenience of your home: team up with other pretend-contestants and COOK LIKE A MASTERCHEF!</h2>
    </div>

  </div>


  <div class="span-3" id="challenge">

      <img id="challenge-image" src="/ingredients_by_ben_kelevra-d63azn8.jpg" alt="">
      <p id="challenge-caption">Take the challenge!</p>
      <a href="/mysterybox"> 
        <img id="start-image" src="/start.gif" alt="">
      </a>
  
  </div>

