<form method="post" action="session" >

  <label>User Name</label>
  <input type="text" name="username">

  <label>password</label>
  <input type="password" name="password">

  <button>Login</button>

</form>