<div style="padding:5%; background-color: #F8F8F8;">
  <form method="post" action="signup" >

  <br><h3 style="font-weight: bolder">Create an Account:</h3>
  <h3>Enter username and password</h3>

  <label>User Name</label>
  <input type="text" name="username">

  <label>password</label>
  <input type="password" name="password">

  <button style="background-color:orange">Create Account</button>

</form>
</div>