<form method="post" action="signup" >

  <label>User Name</label>
  <input type="text" name="username">

  <label>password</label>
  <input type="password" name="password">

  <button>Create Account</button>

</form>